{% extends "boilerplate.html" %}
{% block content %}

<form id="app_form" role="form" method="post" enctype="multipart/form-data">
  <div class="row">
    <div class="col-sm-6">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h2 class="panel-title">Image Input</h2>
        </div>
        <div class="panel-body">
          <div class="row">
            <div class="form-group col-sm-12">
              <label class="radio-inline">
                <input type="radio" name="options" id="example" value="example" checked>
                Use an example
              </label>
              <label class="radio-inline">
                <input type="radio" name="options" id="upload" value="upload">
                Upload a sketch
              </label>
            </div>
          </div>

          <div class="row">
            <div class="form-group col-sm-6" id="example_form">
              <select class="form-control" id="examples" name="example">
                <option selected="selected">Breaks</option>
                <option>Intrusion</option>
                <option>Simple</option>
                <option>Wavey</option>
                <option>Falcon</option>
              </select>
            </div>
            <div class="form-group" id="upload_form">
              <div class="col-sm-6">
                <input type="file" accept="image/*" class="form-control" id="upload" name="upload" onchange="image_preview(event)">
              </div>
            </div>
          </div>

          <div class="row">
            <div class="form-group col-sm-12">
              <div id="img_container">
                <img id="img_example" src="https://s3-us-west-2.amazonaws.com/sketch2model/examples/Breaks.png"
                     class="img-rounded" alt="example img" width="250">
              </div>
            </div>
          </div>

          <div class="row">
            <div class="form-group col-sm-12">
              <div id="img_container">
                <img id="img_preview" class="preview img-rounded" width="250">
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="col-sm-6">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h2 class="panel-title">Parameters</h2>
        </div>
        <div class="panel-body">
          <div class="row">
            <div class="form-group col-sm-8">
              <label for="contrast" class="control-label">Contrast <small class="form-text text-muted">[0.1 to 0.9]</small></label>
              <input type="number" step="0.1" value="0.7" min="0.1" max="0.9" class="form-control" id="contrast" placeholder="Val" name="contrast"/>
              <small id="contrastHelp" class="form-text text-muted">Value from 0.1 to 0.9. How dark text needs to be to be recognized. Lower the value to recognize lighter lines.</small>
            </div>
          </div>

          <div class="row">
            <div class="form-group col-sm-8">
              <label for="closing" class="control-label">Closing <small class="form-text text-muted">[1 to 5]</small></label>
              <input type="number" step="1" value="3" min="1" max="5" class="form-control" id="closing" placeholder="Val" name="closing"/>
              <small id="contrastHelp" class="form-text text-muted">Size of morphological structuring element in pixels. Increase value to close larger gaps.</small>
            </div>
          </div>

          <div class="row">
            <div class="form-group col-sm-8">
              <label for="examples" class="control-label">Colormap</label>
              <select class="form-control" id="cmap" name="cmap">
                <option selected="selected">viridis</option>
                <option>inferno</option>
                <option>plasma</option>
                <option>magma</option>
                <option>Accent</option>
                <option>Dark2</option>
                <option>Paired</option>
                <option>Pastel1</option>
                <option>Pastel2</option>
                <option>Set1</option>
                <option>Set2</option>
                <option>Set3</option>
              </select>
              <small id="contrastHelp" class="form-text text-muted">Which matplotlib colormap to use for output.</small>
            </div>
          </div>

          <div class="row">
            <div class="col-sm-12">
              <button id="submit_button" type="submit" name="action" value="submit" class="btn btn-lg btn-primary">Submit</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</form>

<div class="row">
  <div class="col-sm-6">
    <div id="success_note" class="alert alert-success" style="display: none;">
      <h4>Model generated successfully</h4>
      <p>
        If this doesn't look like you expect then
        try tuning the input parameters or simplifying the
        source image to look more like the examples.
      </p>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-sm-6">
    <div id="error_container" class="alert alert-danger" style="display: none;">
      <h4>Error - Model not generated</h4>
      <p id="error_note"></p>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-sm-6">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h2 class="panel-title">Output Model</h2>
      </div>
      <div class="panel-body">
        <div class="row">
          <div class="col-sm-6">
            <div id="img_container">
              <img id="img_output" class="img-rounded" width="250">
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock %}

{% block javascript %}
<script src="{{ url_for('static', filename='app.js') }}"></script>
{% endblock %}
