<!doctype html>
<html lang="en-US">
<head>  
  <title>Sketch2Model</title>
  <meta name="Description" content="Easily turn a whiteboard drawing into a color block model.">
  <script src="https://code.jquery.com/jquery-2.2.0.min.js"></script>
  <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
  <script src="{{ url_for('static', filename='loading.js') }}"></script>
  <link rel=stylesheet type=text/css href="{{ url_for('static', filename='style.css') }}">
  <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet" type="text/css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
</head>
<div class="banner">
  <h1><a href="/">Sketch2Model</a></h1>
  <h2>
    <a class="ref" href="/about">about</a> &bull;
    <a class="ref" href="/faq">faq</a> &bull;
    <a class="ref" href="mailto:&#99;&#111;&#110;&#116;&#97;&#99;&#116;@&#115;&#107;&#101;&#116;&#99;&#104;&#50;&#109;&#111;&#100;&#101;&#108;.&#99;&#111;&#109;">contact</a>
  </h2>
</div>
<div class="content">
  {% block content %}{% endblock %}
</div>
