{% extends "boilerplate.html" %}
{% block content %}

<div class="row">
  <div class="col-sm-6">

    <br>

    <p class="lead">
      Sketch2Model uses open source image processing to quickly
      convert a whiteboard sketch into a color block model.
    </p>

    <img src="https://upload.wikimedia.org/wikipedia/commons/f/f6/Viagem_inaugural_do_VLT_carioca_02.jpg" class="img-responsive" alt="sketch2model">

    <br>

    <p class="lead">
      Sketch2Model works on all kinds of cool and complex
      sketches. Try it out on your deepwater turbidite, mud volcano, or
      random doodle.
    </p>

    <img src="https://upload.wikimedia.org/wikipedia/commons/f/f6/Viagem_inaugural_do_VLT_carioca_02.jpg" class="img-responsive" alt="sketch2model">

    <br>

    <p class="lead">
      Then take your model over to
      <a href="https://www.modelr.io">modelr.io</a> and convert it
      into a forward seismic model. Sketch2Model can help you take
      your geoscience brainstorming sessions to the next level.
    </p>
  </div>
</div>
{% endblock %}
