{% extends "boilerplate.html" %}
{% block content %}

<div class="row">
  <div class="col-sm-6">

    <br>

    <p class="lead">
      Sketch2Model uses open source image processing to quickly
      convert a whiteboard sketch into a color block model.
    </p>

    <img src="/static/intro1.png" class="img-responsive" alt="sketch2model">

    <br>

    <p class="lead">
      Sketch2Model works on all kinds of complex sketches. Try it out
      on your deepwater turbidite, mud volcano, or what-ever.
    </p>

    <div class="row">
      <div class="col-sm-5">
        <h3>Input Sketch</h2>
      </div>
      <div class="col-sm-5">
        <h3>Output Model</h2>
      </div>
    </div>

    <div class="row">
      <div class="col-sm-5">
        <img src="/static/intro2_sketch.png" class="img-responsive" alt="sketch2model">
      </div>
      <div class="col-sm-5">
        <img src="/static/intro2_model.png" class="img-responsive" alt="sketch2model">
      </div>
    </div>
    
    <br>
    
    <div class="row">
      <div class="col-sm-5">
        <img src="/static/intro3_sketch.png" class="img-responsive" alt="sketch2model">
      </div>
      <div class="col-sm-5">
        <img src="/static/intro3_model.png" class="img-responsive" alt="sketch2model">
      </div>
    </div>
    
    <br>
    
    <div class="row">
      <div class="col-sm-5">
        <img src="/static/intro4_sketch.png" class="img-responsive" alt="sketch2model">
      </div>
      <div class="col-sm-5">
        <img src="/static/intro4_model.png" class="img-responsive" alt="sketch2model">
      </div>
    </div>

    <br>

    <p class="lead">
      Next take your model over to
      <a href="https://www.modelr.io">modelr.io</a> and convert it
      into a forward seismic model.
    </p>
  </div>
</div>
{% endblock %}
