{% extends "boilerplate.html" %}
{% block content %}

<div class="row">
  <div class="col-sm-offset-2 col-sm-8">

    <div class="page-header">
      <h1>Welcome to Sketch2Model</h1>
    </div>

    <p class="lead">
      Sketch2Model uses open source image processing to quickly
      convert a whiteboard sketch into a color block model.
    </p>

    <div class="row">
      <div class="col-sm-offset-1 col-sm-10">
        <img src="/static/intro1.png" class="img-responsive" alt="sketch2model">
      </div>
    </div>

    <div class="page-header">
      <h1>It works on all kinds of images</h1>
    </div>

    <div class="row">
      <div class="col-sm-12">
        <p class="lead">
          Sketch2Model works on all kinds of complex sketches. Try it out
          on your deepwater turbidite, mud volcano, or what-ever.
        </p>
      </div>
    </div>

    <div class="row">
      <div class="col-sm-offset-2 col-sm-5">
        <h3>Input Sketch</h3>
      </div>
      <div class="col-sm-5">
        <h3>Output Model</h3>
      </div>
    </div>

    <div class="row">
      <div class="col-sm-offset-1 col-sm-5">
        <img src="/static/intro2_sketch.png" class="img-responsive" alt="sketch2model">
      </div>
      <div class="col-sm-5">
        <img src="/static/intro2_model.png" class="img-responsive" alt="sketch2model">
      </div>
    </div>

    <br>

    <div class="row">
      <div class="col-sm-offset-1 col-sm-5">
        <img src="/static/intro3_sketch.png" class="img-responsive" alt="sketch2model">
      </div>
      <div class="col-sm-5">
        <img src="/static/intro3_model.png" class="img-responsive" alt="sketch2model">
      </div>
    </div>

    <br>

    <div class="row">
      <div class="col-sm-offset-1 col-sm-5">
        <img src="/static/intro4_sketch.png" class="img-responsive" alt="sketch2model">
      </div>
      <div class="col-sm-5">
        <img src="/static/intro4_model.png" class="img-responsive" alt="sketch2model">
      </div>
    </div>

    <br>

    <div class="page-header">
      <h1>Made to work with Modelr</h1>
    </div>

    <p class="lead">
      Sketch2Model was developed to with
      <a href="https://www.modelr.io">modelr.io</a> in mind. Take your
      completed model over
      to <a href="https://www.modelr.io">modelr</a> and generate a
      forward seismic model in no time.
    </p>
  </div>
</div>
{% endblock %}
